osmnx>=1.9.0
networkx>=3.0
matplotlib>=3.7.0
pandas>=2.0.0
numpy>=1.24.0
geopandas>=0.14.0
scipy>=1.10.0
Flask>=3.0.0
gunicorn>=21.0.0
Flask
geopandas
gunicorn
matplotlib
networkx
numpy
osmnx
pandas
scipy
